

@{
    ViewData["Title"] = "Home Page";

}


@model dynamic;
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                @foreach (Food food in Model.foods)
        {
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div style="font-size:20px" class="card-header">@food.food_name<span style="float:right;"><button type="button"><i class="fas fa-heart mr-2"></i></button><button type="button"><i class="fas fa-plus-circle"></i></button></span></div>
            <img class="card-img-top" src="https://via.placeholder.com/200x150.png?text=Food" alt="Card image" style="width:100%">
            <div class="card-body">
                <p class="card-text">@food.price</p>
                <hr>
                <hr>
            </div>
        </div>
        </div>
}
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Order details</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Hamburger</h6>
                        <small class="text-muted">Ost og bacon</small>
                    </div>
                    <span class="text-muted">70,-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Pizza</h6>
                        <small class="text-muted">Liten pepperoni</small>
                    </div>
                    <span class="text-muted">50,-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Kebab</h6>
                        <small class="text-muted">Kebabtallerken</small>
                    </div>
                    <span class="text-muted">95,-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Order total</span>
                    <strong>215,- NOK</strong>
                </li>
                <button type="button" class="btn btn-success">Place order</button>
            </ul>
        </div>
    </div>
</div>