@model CanteenWebApplication.Models.user_list
@{
    ViewBag.Title = "Midlertidig";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //kan sette denne koden i layout koden
    if (Session["username"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Midlertidig</title>
</head>
<body>
    <br />
    <div class="bruker">

        @{var currentSession = HttpContext.Current.Session; }
        @foreach (string username in currentSession.Keys)
        {
            <h1>Velkommen @currentSession[username].ToString() ! </h1>
        }

    </div>
    <br />
    <div class="overskrift"><h2>Midlertidig :D</h2></div>
    <br />
    <div><h3>Her skal liksom dashboard ogsånn hvere da c:</h3></div>
    <br />

    <input id="outbtn" type="button" value="Log out" onclick="location.href='@Url.Action("LogOut", "Login")'" />
</body>
</html>
